.main-col-profiles {
  margin: 0 0 0 230px;
  position: relative;
  z-index: 1;
  padding: 50px 0 0;
}

p {
  margin: 15px 0;
  font-size: 16px;
  color: white;
}

th {
  color: white;
}

.td-row {
  color: white;
  border-bottom: 1px solid white;
  width: 20%;
  padding-right: 10px;
}

.right-row {
  margin-left: 20px;
  font-size: 14px;
}
