
.app-info .h2-app-info {
  margin: 20px 20px 10px 10px;
  font-size: 20px;
  color: white;
}

.app-info .h3-app-info {
  margin: 1px auto 1px 10px;
  font-size: 16px;
  color: white;
}

.btn {
  background-color: white;
  color: #3d5a80;
  border-radius: 8px;
  border: 1px solid #3d5a80;
}
.btn:hover {
  background-color: #3d5a80;
  color: white;
  border-color: white;
}
