.App {
  text-align: center;
  height: 200px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.col {
  flex: auto;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.modal-app {
  width: 100%;
  height: 100%;
  max-width: 100%;
  background-color: #3d5a80;
}

.app {
  width: 100%;
}

.left-part {
  width: 40%;
  float: left;

  border-radius: 0;
  color: #fff;
}


.right-part {
  width: 60%;
  float: right;
  border-radius: 0;
  color: #fff;
}

body.letters-page {
  p {
    color: black;
  }
}

body.letters-page-strong {
  strong {
    background-color: initial !important;
  }
}

body.letters-page-container .container {
  width: 100%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #3d5a80;
}



